<div class="col-sm-4">
  <div class="card" style="width: 20rem;">
    <a (click)="watch(movie)" >
      <img src="https://i.ytimg.com/vi/{{movie}}/maxresdefault.jpg" class="img-fluid" alt="...">
    </a>
    <div class="card-body">
      <a *ngIf="auth.user | async as user; else showNoRedirect" (click)="watch(movie)" class="btn btn-primary">
        Watch {{movie_name}} on YouTube
      </a>
      <ng-template #showNoRedirect>
        <a (click)="login()" class="btn btn-primary" >Login to Watch {{movie_name}} on YouTube</a>
      </ng-template>
    </div>
  </div>
</div>