.example-card {
    max-width: 400px;
    margin: 20px;    
}
.example-header-image {
    background-size: cover;
}
.mat-card{
    display: inline-block;
    border: 1px solid beige;
    background-color: darkblue;
}